 /* Make the charts look nice */

 .legendLabel {
     color: black;
     font-size: 90%;
 }

 .legendColorBox {
     padding-left: 5px;
 }

 .yAxis::before {
     content: attr(data-label);
     /* Un-center, then rotate, then center vertically */
     transform: translateX(-50%) rotate(-90deg) translateX(-90px);
     display: inline-block;
     font-size: 100%;
 }

 .chart {
     height: 17vh;
 }

 .chart>.legend {
     margin-left: 50px;
 }

 .auto-update-enabled, .auto-update-enabled:hover {
     background-color: rgb(41, 112, 43)
 }

 .chart-with-no-feeds {
     display: none;
 }