#appsetup_image {
    width: 90%;
}

.feed-refresh-indicator {
    display: inline;
}

.col1-inner {
    display: flex;
    flex-direction: column;
}

.processing {
    background-color: peachpuff !important;
    opacity: 20% !important;
}

.section-heading {
    font-weight: bold;
    padding-top: .7vh;
}

@media only screen and (min-width: 1200px) {
    .section-heading {
        font-size: 140%;
        line-height: 140%;
    }
}