#appsetup_image {
    width: 90%;
}

.feed-refresh-indicator {
    display: inline;
}

.col1-inner {
    display: flex;
    flex-direction: column;
}

.processing {
    background-color: peachpuff !important;
    opacity: 20% !important;
}

.section-heading {
    font-size: 80%;
    font-weight: bold;
    padding-top: .7vh;
}

.bluenav {
    width: 8%;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px
}

.update-controls {
    min-width: 10em
}

@media only screen and (min-width: 1200px) {
    .content-container {
        max-width: unset;
    }
    .section-heading {
        font-size: 140%;
        line-height: 140%;
    }
    .bluenav {
        width: unset;
        padding: 11px;
    }
}